body {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.clear {
  clear: both;
}

/* EDITOR */

#menu-bar {
  position: fixed;
  left: 200px;
  z-index: 4;
  background-color: white;
}

.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  border-right: 1px solid black;
  background-color: white;
}

.horizontal-menu-item {
  float: left;
  position: relative;
}

.horizontal-menu-item p {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-right: 0;
}

.horizontal-submenu {
  display: none;
  position: absolute;
  border-bottom: 1px solid black;
  white-space: nowrap;
  background-color: white;
  cursor: pointer;
}

.horizontal-submenu-item p {
  display: block;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-bottom: 0;
}

#toolbar-container {
  position: fixed;
  left: 50px;
  top: 100px;
  width: 100px;
  z-index: 4;
  border: 1px solid black;
}

#layer-container {
  position: fixed;
  left: 50px;
  top: 300px;
  width: 200px;
  height: 200px;
  overflow: auto;
  z-index: 4;
  border: 1px solid black;
}

.layer-box{
  border-bottom: 1px solid black;
}

.layer-picture {
  width: 40px;
  height: 40px;
  background: red;
  float: left;
}

.layer-name {
  margin: 10px 0 0 10px;
  float: left;
  background: transparent;
}

.layer-name p {
  background: transparent;
}

#color-container {
  visibility: visible;
  position: fixed;
  top: 550px;
  left: 50px;
  z-index: 4;
  border: 1px solid black;
}

.color {
  width: 40px;
  height: 40px;
  float: left;
}

#black {
  background-color: #000000;
}

#white {
  background-color: #FFFFFF;
}

#red {
  background-color: #FF0000;
}

#orange {
  background-color: #FFA500;
}

#yellow {
  background-color: #FFFF00;
}

#green {
  background-color: #00FF00;
}

#blue {
  background-color: #0000FF;
}

#purple {
  background-color: #800080;
}

#custom-color {
  margin: 0;
  width: 100%;
}

#current-color-header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
}

#current-color {
  width: 100%;
  height: 40px;
  background-color: #000000;
}

.header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.canvas-window {
  position: fixed;
  border: 1px solid black;
  background-color: white;
}

.window-menu {
  border-bottom: 1px solid black;
}

.window-menu p {
  padding: 10px 0 10px 10px;
}

.layer {
  background: transparent;
  position: absolute;
}

.close {
  float: right;
}

.inactive-window {
  z-index: 2;
}

.active-window {
  z-index: 3;
}

.active-layer {
  background-color: #D9D9D9;
}

/* Misc */

.bottom-right-radius {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.bottom-left-radius {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.top-left-radius {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.top-right-radius {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

/* Index */

#index-wrapper {
  width: 900px;
  margin: 100px auto 0 auto;
}

#splash-logo {
  float: left;
}

#splash-dash {
  float: left;
  margin: 125px 0 0 75px;
}

#create {
  float: left;
  margin: 125px 0 0 75px;
}

#create-text {
  color: #6dadd5;
  font-size: 15px;
  font-family: Georgia, serif;
  width: 150px;
}

#code {
  float: left;
  margin: 125px 0 0 75px;
}

#code-text {
  color: #6dadd5;
  font-size: 15px;
  font-family: Georgia, serif;
  width: 150px; 
  margin-bottom: 35px;
}
