#main {
  border: 1px solid black;
}

#demo {
  display: block;
  float: left;
}

#left-toolbar {
  border-right: 1px solid black;
  width: 150px;
  float: left;
}

#right-toolbar {
  border-left: 1px solid black;
  float: right;
  width: 200px;
}

#layers {
  border-top: 1px solid black;
}

.clear {
  clear: both;
}