#main {
    margin: 100px auto;
    border: 1px solid black;
    width: 701px;
}

#demo {
    display: block;
    float: left;
}

#toolbar {
    border-right: 1px solid black;
    height: 400px;
    width: 100px;
    float: left;
}

.clear {
    clear: both;
}