!!! 5
html(lang="en")
  head
    title CloudPalette
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='/js/lib/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/js/lib/jquery-ui-1.8.17.custom.min.js')
    script(type='text/javascript', src='/js/lib/jquery.miniColors.min.js')
    script(type='text/javascript', src='/js/cloudpalette.js')
    script(type='text/javascript', src='/js/editor.js')
    script(type='text/javascript', src='/js/util/canvasUtil.js')
  body
    #menu-bar
      ul.horizontal-menu.bottom-right-radius
        li.horizontal-menu-item
          p.bottom-left-radius File
          ul.horizontal-submenu
            li.horizontal-submenu-item#new-image
              p New Image
            li.horizontal-submenu-item#save-image
              p Save Image
            li.horizontal-submenu-item#load-image
              p Load Image
        li.horizontal-menu-item
          p Edit
        li.horizontal-menu-item
          p Layers
          ul.horizontal-submenu
            li.horizontal-submenu-item#new-layer
              p New Layer
            li.horizontal-submenu-item#delete-layer
              p Delete Layer
            li.horizontal-submenu-item#flatten-image
              p Flatten Image
        li.horizontal-menu-item
          p Toolbars
          ul.horizontal-submenu
            li.horizontal-submenu-item#color-toolbar
              p colors
            li.horizontal-submenu-item#size-toolbar
              p sizes
        li.horizontal-menu-item
          p.bottom-right-radius Help
        .clear
    #toolbar-container
      .header#toolbar-header
        p tools
      button#pencil(name='pencil') pencil!
      #current-color-header
        p current color
      #current-color
    #layer-container
      .header#layer-header
        p layers
    #color-container
      .header#color-header
        p colors
      .color-swab#white
      .color-swab#black
      .color-swab#red
      .color-swab#orange
      .color-swab#yellow
      .color-swab#green
      .color-swab#blue
      .color-swab#purple
      label custom colors: 
        input.color
    #brush-size-container
      .header#brush-size-header
        p sizes
      .brush-size#size-1 1
      .brush-size#size-2 2
      .brush-size#size-4 4
      .brush-size#size-8 8
      .brush-size#size-16 16
      .brush-size#size-32 32
      .brush-size#size-64 64
