!!! 5
html(lang="en")
  head
    title CloudPalette
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/js/util/include.js')
    script(type='text/javascript', src='/js/cloudpalette.js')    
  body
    h1.banner CloudPalette
    #main
      #left-toolbar
        button#paintbrush(name='paintbrush') PaintBrush!
      canvas#demo(width='600px', height='400px') Get a real browser!
      #right-toolbar
        button#newlayer(name='newlayer') New Layer!
        #layers
      .clear