!!! 5
html(lang="en")
  head
    title CloudPalette
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/js/util/canvasUtil.js')
    script(type='text/javascript', src='/js/canvasDemo.js')    
  body
    h1 CloudPalette
    p CloudPalette is an image editor on the web.
    p check out the 
      a(href='/editor') editor
      |  or see the code on
      a(href='https://github.com/hodavidhara/CloudPalette') github
      | .