!!! 5
html(lang="en")
  head
    title CloudPalette
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/js/util/canvasUtil.js')
    script(type='text/javascript', src='/js/canvasDemo.js')    
  body
    img(src='/assets/images/CloudPaletteLogo.png')
    img#splashdash(src='/assets/images/splashpagedash.png')
    p#create-text
      | Try out the image editor.
    img#create(src='/assets/images/create.png')
    p#code-text
      | Check out the code on github.
    img#code(src='/assets/images/code.png')